 @media only screen and (min-width: 414px) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
  
    
    body{
        font-size: 18px;        
    }
     
     nav{
      
     }
     
     ul{
         background-color: paleturquoise;
         display: inline-grid;
         grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
         list-style-type: none;
         white-space: nowrap;
         
         
     }
     li {
            margin: auto;
            padding: 10px;
         font-weight: bold;
           
         }
     
     .main{
         display: flex;
         flex-flow: row wrap;
         
     }
     
     #town{
         width: 50%;
         padding-right: 15px;
         flex: auto;
             }
     
     #current{
         flex: auto;    
         width: 40%;
         flex: auto;
     }
     
     #tenday{
         display: inline-grid;
         
     }
    table, th, td {
   border: 1px solid black;
        padding: 10px;
}
Try it Yourself »

     
     #bballnews{
     }
     
     #bball{
         width: 60%;
     }
     
     article{
        
     }
  .hamburger{ display:none; }  /* hamburger button does not need to be shown */
  
  section.forecast { display: ???; }  /* show the 10-day forecast with the medium view and up */
  
   article p.town-article img { width: 62.666%; float:right; }  /* responsive images */
}